:root {
    --header-footer-color: light-dark(#0d47a1, #0e1a59);
    --primary-bg-color: light-dark(#bbdefb, #000c18);
    --secondary-bg-color: light-dark(#42a5f5, #001845);
    --primary-color: light-dark(black, white);
    --primary-color-inv: light-dark(white, black);
    --blind-color: light-dark(rgba(0, 0, 0, .4), rgba(255, 255, 255, .4));
    --active-color: #007fff;
    --highlight-color: #00e9ff;
}

*, *::after, *::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 86.8px;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    margin: 0;
    transition: background-color .5s, color .3s;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--header-footer-color);
    color: white;
    padding: 0 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    background-color: var(--header-footer-color);
    color: white;
    font-family: "K2D", sans-serif;
    margin-top: auto;
    padding-top: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: background-color .5s, color .3s;
}

button {
    cursor: pointer;
    transition: background-color .5s, color .3s;
}

input[type=checkbox] {
    display: block;
    width: 16px;
    height: 16px;
    appearance: none;
    background-color: #001845;
    border: 2px solid var(--active-color);
    border-radius: 5px;
}

input[type=checkbox]:checked::before {
    content: '';
    display: block;
    width: 12.8px;
    height: 12.8px;
    border-radius: 3px;
    background-color: var(--active-color);
}

input[type=checkbox]:checked::after {
    content: '';
    display: block;
    border: 1px solid white;
    border-top: 0;
    border-right: 0;
    width: 70%;
    height: 30%;
    position: relative;
    top: -75%;
    left: 16%;
    transform: rotate(-45deg);
}

#homepage {
    color: var(--highlight-color);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

#nav {
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-right: auto;
    padding: 0;
}

#nav a {
    padding: 5px 15px;
}

#nav a:hover {
    background-color: white;
    color: var(--header-footer-color);
}

#nav .active {
    color: var(--highlight-color);
}

#switch-theme {
    display: flex;
    align-items: center;
    appearance: none;
    width: 48px;
    height: 24px;
    background-color: var(--active-color);
    font-family: inherit;
    border: 2px solid white;
    border-radius: 20px;
    margin: 0;
    transition: all .5s;
}

#switch-theme:checked {
    background-color: #001845;
    transition: all .5s;
}

#switch-theme::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: calc(44.8px - (20.8px - 16px) / 2 - 16px);
    transition: all .3s;
}

#switch-theme:checked::before {
    position: relative;
    left: calc((20.8px - 16px) / 2);
    transition: all .3s;
}

#switch-theme::after {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url('images/moon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    left: -10px;
    transition: left .3s;
}

#switch-theme:checked::after {
    background-image: url('images/sun.png');
    border: none;
    position: relative;
    top: 0;
    left: 8px;
    transition: left .3s;
    transform: none;
}