#form {
    display: flex;
    margin-right: 15px;
}

#query {
    height: 30px;
    width: 275px;
    font-family: inherit;
    line-height: normal;
    border: 1.6px solid white;
    border-right: none;
    border-radius: 60px 0 0 60px;
    padding: 0 13px;
}

#query:focus {
    outline: none;
}

#submit-button {
    width: 40px;
    background-color: unset;
    color: inherit;
    border: 1.6px solid white;
    border-left: none;
    border-radius: 0 60px 60px 0;
}

#search-results-title {
    display: none;
    color: var(--primary-color);
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
}

#search-results {
    --card-width: 175px;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--card-width));
    justify-content: center;
    column-gap: 40px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    float: left;
    width: var(--card-width);
    aspect-ratio: 25 / 45;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    margin: 20px 0;
}

.card:hover {
    box-shadow: 0 0 20px var(--blind-color);
}

.thumbnail {
    aspect-ratio: 230 / 325;
    border-radius: 10px 10px 0 0;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 12pt;
    margin: auto 12px;
}

#page-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    color: var(--primary-color);
    margin: 20px;
    padding: 0;
}

#page-nav button {
    background-color: unset;
    font-family: inherit;
    border: 1px solid var(--primary-color);
    border-left: none;
    padding: 5px 10px;
    user-select: none;
    cursor: initial;
}

#page-nav button:first-child {
    border-left: 1px solid var(--primary-color);
    border-radius: 10px 0 0 10px;
}

#page-nav button:last-child {
    border-radius: 0 10px 10px 0;
}

#page-nav button:not([disabled]):hover {
    background-color: var(--blind-color);
    cursor: pointer;
}

#page-nav #cur-page {
    background-color: var(--active-color);
    color: white;
}

#popup-box {
    display: none;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 7px 15px;
    position: absolute;
    transform: translateX(-40%);
    z-index: 1;
}

#page {
    background-color: field;
    font-family: inherit;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    margin-left: 5px;
    padding: 0 5px;
}