#form {
    display: flex;
}

#query {
    height: 30px;
    width: 275px;
    font-family: inherit;
    line-height: normal;
    border: 1.6px solid white;
    border-right: none;
    border-radius: 60px 0 0 60px;
    padding: 0 13px;
}

#query:focus {
    outline: none;
}

#submit-button {
    width: 40px;
    background-color: #0057a1;
    color: inherit;
    border: 1.6px solid white;
    border-left: none;
    border-radius: 0 60px 60px 0;
}

#submit-button:hover {
    filter: brightness(1.3);
}

#search-results-title {
    display: none;
    color: light-dark(black, white);
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
}

#search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    column-gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    float: left;
    width: 250px;
    background-color: light-dark(#42A5F5, #001845);
    border-radius: 10px;
    margin: 30px 1.5%;
}

.thumbnail {
    height: 327px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 0;
}

.title {
    margin: auto;
    padding: 10px;
}

#page-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    color: light-dark(black, white);
    margin: 20px;
    padding: 0;
}

#page-nav li {
    border: 1px solid light-dark(black, white);
    padding: 2px 10px;
    cursor: pointer;
    user-select: none;
}

#page-nav li:first-child {
    border-radius: 7px 0 0 7px;
}

#page-nav li:last-child {
    border-radius: 0 7px 7px 0;
}

#page-nav li:hover {
    background-color: light-dark(rgba(0, 0, 0, .3), rgba(255, 255, 255, .3));
}

#cur-page {
    background-color: light-dark(#000c18, #BBDEFB);
    color: light-dark(white, black);
}

.disabled {
    opacity: .5;
}

#popup-box {
    display: none;
    min-width: 164px;
    background-color: light-dark(#42A5F5, #001845);
    border: 1px solid light-dark(black, white);
    border-radius: 15px;
    padding: 7px 15px;
    position: absolute;
    transform: translateX(-40%);
    z-index: 1;
}

#page {
    width: 50px;
    margin-left: 5px;
    font-family: inherit;
}