#old-ver {
    display: block;
    width: 16px;
}

#old-ver + label {
    margin-right: 15px;
}

main {
    --width: 1024px;
    --height: calc(1024px / 16 * 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56.8px);
}

p {
    user-select: none;
}

/* ================= Version 1 ================= */

#container1 {
    display: flex;
    width: var(--width);
    height: var(--height);
    border: 1px solid light-dark(black, white);
}

#slider {
    width: 0;
    border-left: 1px solid white;
    border-right: 1px solid black;
    cursor: ew-resize;
}

#pad {
    width: 10px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pad::before {
    display: block;
    content: '';
    width: 0;
    height: 24px;
    border: 1px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box {
    display: flex;
    width: calc(var(--width) / 2);
}

#box, #container1 {
    background-color: light-dark(#42A5F5, #001845);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: initial;
}

input {
    display: none;
}

#box p, #container1 > p {
    margin: auto;
}

/* ================= Version 0 ================= */

#container {
    display: none;
    width: var(--width);
    height: var(--height);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: calc(100% - 1.6px);
    background-color: light-dark(#42A5F5, #001845);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid light-dark(black, white);
    box-sizing: initial;
}

.box:first-child {
    border-right: 1px solid transparent;
}

.box:last-child {
    border-left: 1px solid white;
}

.box p {
    user-select: none;
}

.box input {
    display: none;
}

/* ============================================= */

#clear {
    border: 1px solid transparent;
    background-color: light-dark(#000c18, #BBDEFB);
    background-size: contain;
    color: light-dark(white, black);
    font-family: inherit;
    font-size: medium;
    margin-top: 30px;
    padding: 2px 23px;
}

#clear:hover {
    border: 1px solid light-dark(#000c18, #BBDEFB);
    background-color: transparent;
    color: light-dark(#000c18, #BBDEFB);
}